@use '@angular/material' as mat;

.message {
  margin: 0;
  color: var(--mat-sys-on-surface-variant);
  text-wrap: pretty;
  overflow-wrap: anywhere;
}

.destructive {
  @include mat.button-overrides(
    (
      filled-container-color: var(--mat-sys-error),
      filled-label-text-color: var(--mat-sys-on-error),
    )
  );
}
