<nav class="bottom-nav" aria-label="Primary">
  @for (item of items(); track item.path) {
    <a
      class="tab"
      matRipple
      [routerLink]="item.path"
      routerLinkActive="active"
      #rla="routerLinkActive"
      [attr.aria-current]="rla.isActive ? 'page' : null"
    >
      <span class="indicator">
        <mat-icon [class.pd-icon-filled]="rla.isActive">{{ item.icon }}</mat-icon>
      </span>
      <span class="label">{{ item.label }}</span>
    </a>
  }
  @if (moreItems().length) {
    <button type="button" class="tab" matRipple [class.active]="isMoreActive()" [matMenuTriggerFor]="moreMenu">
      <span class="indicator"><mat-icon>menu</mat-icon></span>
      <span class="label">More</span>
    </button>
  }
</nav>

<mat-menu #moreMenu="matMenu" yPosition="above" xPosition="before">
  @for (item of moreItems(); track item.path) {
    <a mat-menu-item [routerLink]="item.path">
      <mat-icon>{{ item.icon }}</mat-icon>
      <span>{{ item.label }}</span>
    </a>
  }
</mat-menu>
