.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;

  .mat-toolbar {
    background: inherit;
  }
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;

  .mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 1;
    gap: 8px;
  }
}

.content-container {
  padding: 16px;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  box-sizing: border-box;
}

