<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" (click)="drawer.mode === 'over' ? drawer.close() : null">
        <mat-icon matListItemIcon>dashboard</mat-icon>
        <span matListItemTitle class="nav-label">Dashboard</span>
      </a>
      <a mat-list-item routerLink="/tasks" (click)="drawer.mode === 'over' ? drawer.close() : null">
        <mat-icon matListItemIcon>checklist</mat-icon>
        <span matListItemTitle class="nav-label">Tasks</span>
      </a>
      <a mat-list-item routerLink="/goals" (click)="drawer.mode === 'over' ? drawer.close() : null">
        <mat-icon matListItemIcon>star</mat-icon>
        <span matListItemTitle class="nav-label">Goals</span>
      </a>
      <a mat-list-item routerLink="/pomodoro" (click)="drawer.mode === 'over' ? drawer.close() : null">
        <mat-icon matListItemIcon>timer</mat-icon>
        <span matListItemTitle class="nav-label">Pomodoro</span>
      </a>
      <a mat-list-item routerLink="/daily-scores" (click)="drawer.mode === 'over' ? drawer.close() : null">
        <mat-icon matListItemIcon>score</mat-icon>
        <span matListItemTitle class="nav-label">Daily Scores</span>
      </a>
      <a mat-list-item routerLink="/settings" (click)="drawer.mode === 'over' ? drawer.close() : null">
        <mat-icon matListItemIcon>settings</mat-icon>
        <span matListItemTitle class="nav-label">Settings</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>Pocket Discipline</span>
    </mat-toolbar>
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
