@if (!isActive()) {
  <div class="config-container">
    <mat-form-field appearance="outline">
      <mat-label>Duration (minutes)</mat-label>
      <input matInput type="number" step="5" [formField]="configForm.durationMinutes" />
      <mat-error>{{ durationRangeHint }}</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Engagement type</mat-label>
      <mat-select [formField]="configForm.engagementType">
        <mat-option [value]="engagementTypeWork">Work</mat-option>
        <mat-option [value]="engagementTypeStudy">Study</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
}
