<div class="earnings-filter-container">
  <app-segmented-control
    ariaLabel="Earnings period"
    [options]="presetOptions"
    [value]="activePreset()"
    (valueChange)="selectPreset($event)"
  />

  @if (showCustomPicker()) {
    <mat-form-field class="custom-range" appearance="outline" subscriptSizing="dynamic">
      <mat-label>Date range</mat-label>
      <mat-date-range-input [rangePicker]="picker" [max]="maxDate()">
        <input
          matStartDate
          [formField]="rangeForm.start"
          placeholder="Start date"
          (dateChange)="onCustomDateChange()"
        />
        <input matEndDate [formField]="rangeForm.end" placeholder="End date" (dateChange)="onCustomDateChange()" />
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker" />
      <mat-date-range-picker #picker />
    </mat-form-field>
  }
</div>
